.badge {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  color: white;

  &.right {
    flex-direction: row-reverse;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
